<div class="container-fluid">
  <div class="row">
    <div [ngStyle] = "{color:'blue'}" class="text-center">
    <h1>Test App</h1>
    <hr>
  </div>
</div>
<div class="row" [ngStyle] = "{color:'green'}">
  <app-active-users [activeUsers] = "activeUsers">
    <div *ngIf="1 > 0;then valid else notvalid"></div>
  </app-active-users>
  <ng-template #valid>List of Active Users</ng-template>
  <ng-template #notvalid>No Active users</ng-template>
</div>
<hr>
<div class="row" [ngStyle] = "{color:'red'}">
  <app-inactive-users [inactiveUsers] = "inactiveUsers">
    List of Inactive Users
  </app-inactive-users>
</div>
</div>